{% extends "base.html" %}

{% block title %}
勝率予測はこちら
{% endblock %}

{% block content %}


{% if request.args.get('error') %}
<div class="error-box">
    {{ request.args.get('error') }}
</div>
{% endif %}

<form method="post"
      action="{{ url_for('predict') }}">

<div class="teams">
    <div class="team">
        <h3>チーム1</h3>
        <input type="text" name="team1_p1" placeholder="選手名">
        <input type="text" name="team1_p2" placeholder="選手名">
    </div>

    <div style="display:flex; align-items:center; margin-top:60px;">
        <strong>VS</strong>
    </div>

    <div class="team">
        <h3>チーム2</h3>
        <input type="text" name="team2_p1" placeholder="選手名">
        <input type="text" name="team2_p2" placeholder="選手名">
    </div>
</div>
<br><br>
    <button type="submit">予測</button>
</form>

{% if result is not none %}
<hr>
<h2>予測結果</h2>
<p>チーム1の勝率：{{ result }} %</p>
{% endif %}

<hr>
<a href="{{ url_for('index') }}">
    ← 戻る
</a>

{% endblock %}